<nav>
    <ul class="pull-left">
      <li><%= link_to 'Chill Out Room', '#' %></li>
      <li><%= link_to 'Hang Out Room', '#' %></li>
    </ul>
    <ul class="pull-right">
      <li><%= link_to 'Logout', '#' %></li>
    </ul>
  </nav>